/* Utilities */


.u-title{
    border-bottom: 2px dashed #00CCFF;
    color: #00CCFF;
    font-weight: normal;
    font-size: 1.5em;
    padding-bottom: .5em;
    text-align: center;
}

.u-containerDefault{
    width: auto;
    margin: 20px auto;
}


/* MainMenu */

.MainMenu{
    background: #1E1E1E;
    vertical-align: center;
    text-align: center;
    height: auto;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
}

.MainMenu-list{
    margin:0;
    padding: 0;
}

.MainMenu-item{
    display: inline-block;
}

.MainMenu-link{
    color: #00DBFF;
    text-decoration: none;
    line-height: 3.75em;
    margin-right: 1.5em;
}

/* Header */


.Header{
    margin-top: 3.75em;
    background-image: url('../images/portada.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    padding:1.2em 0;
}

.Header-imageContainer{
    margin: 0;
}

.Header-image{
    border: 5px solid white;
    border-radius: 50%;
}

.Header-name,
.Header-link{
    color: white;
}

.Header-link{
    font-size: 2.2em;
    font-weight: bold;
    text-decoration: none;
}

.Header-name{
    font-size: 1.5em;
    font-weight: 300;
    margin: 0;
}


/* Profile */

.Profile{
    text-align: center;
}

.Profile-link{
    background: orange;
    border-radius: 3em;
    color: white;
    margin-right: .5em;
    /*padding: .5em 1em;*/
    padding: .5em .5em;
    text-decoration: none;       
}

.Profile-image{
    border: 1px solid white;
    border-radius: 20%;
}

.Profile-link_work{
    background: #1E1E1E;
    border-radius: 2em;
    color: white;
    margin-right: .5em;
    padding: .1em 0em;
    text-decoration: overline;    
}

/* Work */

.Work{
    margin-top: 2em;
    text-align: center;
}


.Work-item{
    display: inline-block;
    margin-right: 1.8em;
    margin-bottom: 1.8em;
}

.Work-imageContainer{
    margin: 0;
}

.Work-description{
    font-size: 1em;
    color: #515151;
    font-style: italic;
}

/* Footer */

.Footer{
    background-image: url('../images/footer.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 2em 0;
    text-align: center;
}


.Footer-form{
    text-align: center;
    display: inline-block;
}

.Footer-left{
    display: inline-block;
    width: auto;
    text-align: center;
    vertical-align: top;
}

.Footer-title{
    color: white;
}

.Footer-formInput,
.Footer-textarea{
    background: white;
    border: none;
    display: block;
    border-radius: 2em;
    padding: .5em;
    margin: 0 auto 1em;
}

.Footer-textarea{
    resize: none;
}

.Footer-button{
    background: orange;
    border-radius: 1em;
    border: none;
    color: white;
    padding: .5em 1em;
}

/* Button */

button {
  border: 0;
  padding: 0;
}

#downloads {
  margin-bottom: 40px;
}

a.button {
  width: 134px;
  height: 58px;
  line-height: 1.2;
  font-size: 23px;
  color: #fff;
  padding-left: 68px;
  padding-top: 22px;
  font-family: 'Architects Daughter', 'Helvetica Neue', Helvetica, Arial, serif;
  line-height: 1.3;
}
a.button small {
  display: block;
  font-size: 11px;
}
header a.button {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent url(../images/github-button.png) 0 0 no-repeat;
}
aside a.button {
  width: 138px;
  padding-left: 64px;
  display: block;
  background: transparent url(../images/download-button.png) 0 0 no-repeat;
  margin-bottom: 20px;
  font-size: 21px;
}

div.centermain {
  text-align: center;
  vertical-align: center;
  padding: 0 10px;
}

div.main {
  width: auto;   
  padding: 0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  padding:1.2em 0; 

}

/* standard form style table */
table.adminform {
  background-color: #f9f9f9;
  border: solid 1px #d5d5d5;
  width: auto;
  text-align: center;
  padding: 10px;
  /* border-collapse: collapse;*/
}
table.adminform tr.row0 {
  background-color: #f9f9f9;
}
table.adminform tr.row1 {
  background-color: #eeeeee;
}
table.adminform th {
  font-size: 11px;
  padding-top: 6px;
  padding-bottom: 2px;
  padding-left: 4px;
  padding-right: 4px;
  text-align: center;
  height: auto;
  background: url(../images/background.jpg);
  color: #000;
  background-repeat: repeat;
}
table.adminform td {
  padding: 3px;
  text-align: center;
}
table.adminform td.editor {
  font-size: 9px;
}

#cpanel {  text-align: center;  vertical-align: middle; }

#cpanel div.icon   { margin: 3px; }
#cpanel div.icon a { 
  display: block; float: left;
  height: auto !important;  
  width: 180px !important;  
  vertical-align: middle; 
  text-decoration : none;
  border: 1px solid #DDD;
  padding: 2px 5px 1px 5px;
}

#cpanel div.icon a:link    {  color : #000033;  }
#cpanel div.icon a:hover   { 
  color : #333; 
  background-color: #f1e8e6;  
  border: 1px solid #c24733;
  padding: 3px 4px 0px 6px; 
}
#cpanel div.icon a:active  {  color : #000033;  }
#cpanel div.icon a:visited {  color : #000033;  }

#cpanel div.icon img { margin-top: 13px; }
#cpanel div.icon span { display: block; padding-top: 3px;}
