# Dependencias
node_modules/

# Archivos de compilación o distribución
dist/
build/

# Archivos de bloqueo de dependencias
package-lock.json
yarn.lock

# Configuración del entorno
.env
.env.local
.env.*.local

# Archivos de log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directorios de IDE
.vscode/
.idea/
*.iml

# Caché de bundlers
.cache/
.eslintcache/

# Archivos de pruebas
coverage/

# Archivos temporales del sistema operativo
.DS_Store
Thumbs.db
